.btn-1{
    background-color: rgb(14, 242, 166);
    width: 120px;
    padding: 5px;
    margin-bottom: 50px;

}
.btn-2{
    background-color: rgb(238, 29, 15);
    margin-left: 20px;
}

    body{
        background-color: aqua;
        color:black: 
    
    }
    .color{
        color: red;
        font-size: 20px;
    }